/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-slide {
  float: right; }

.slick-slide {
  padding: 0;
  margin: 0;
  background-color: #000; }
  .slick-slide img {
    display: block;
    width: 100%;
    opacity: .6; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.arrows {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  line-height: 80px;
  width: 50px;
  top: 40%;
  translateY: -40px;
  z-index: 100;
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 10px;
  border-radius: 4px; }
  .arrows:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4); }

.a-left {
  left: 0; }

.a-right {
  right: 0; }

.slick-dots {
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    padding: 0;
    margin: 4px; }
    .slick-dots li button {
      border: 0;
      outline: 0;
      color: #fff;
      background-color: #06f;
      border-radius: 20px;
      line-height: 22px;
      width: 22px;
      padding: 0; }
  .slick-dots .slick-active button {
    background-color: #333; }

.carousel-caption {
  padding: 40px; }
  .carousel-caption .btn-fjw {
    background-color: #00806B;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-size: .9em; }
    .carousel-caption .btn-fjw:hover {
      background-color: #E8B909;
      color: #000; }

.featurette img {
  -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
  border-radius: 4px; }

.card {
  max-width: 300px;
  min-width: 280px;
  margin: 0 auto; }

.max-300 {
  max-width: 300px; }

.hvrShadow {
  -webkit-transition: .3s;
  transition: .3s; }
  .hvrShadow:hover {
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
            box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6); }

.jumbotron h2 {
  font-size: 3em; }

@media all and (max-width: 540px) {
  .jumbotron {
    border-radius: 0;
    background-color: #000;
    color: #ffffff; }
  .slick-slide {
    margin-top: 0;
    height: 600px;
    height: 100vh; }
    .slick-slide img {
      height: 600px;
      height: 100vh;
      width: auto;
      display: inline-block;
      margin-left: -100%; }
  .primes {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; } }

@media all and (min-width: 541px) and (max-width: 720px) {
  .slick-slide {
    margin-top: 0;
    height: 600px;
    height: 50vh; }
    .slick-slide img {
      height: 600px;
      height: 50vh;
      width: auto;
      display: inline-block;
      margin-left: -30%; }
  .primes {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; } }

@media all and (min-width: 721px) {
  .slick-slide {
    margin-top: 0; } }
